<mat-toolbar class="main-toolbar" *ngIf="isLoggedIn()">
  <!-- Logo de RAJE -->
  <div class="toolbar-left">
    <div class="logo-container">
      <img src="assets/logoRaje.PNG" alt="RAJE Logo" class="logo">
    </div>
  </div>

  <!-- Sección Central (Navegación) -->
  <nav class="toolbar-nav">
    <button mat-button routerLink="/tendencies">TENDENCIAS</button>
    <button mat-button routerLink="/foryou">PARA TI</button>
    <button mat-button routerLink="/favorites">FAVORITOS</button>
  </nav>

  <!-- Sección Derecha (Iconos y Perfil) -->
  <div class="toolbar-right">
    <div class="icon-group">
      <img src="assets/busquedalogo.png" alt="Search" class="icon">
      <img src="assets/campananoti.png" alt="Notifications" class="icon">
    </div>


    <div class="profile-group">
      <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-button">
        <img [src]="userProfileImage" alt="User" class="profile-pic">
      </button>

      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/profile">Mi perfil</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
