
<div class="container">
  <img src="https://hips.hearstapps.com/hmg-prod/images/tom-hardy-attends-the-sentebale-audi-concert-at-hampton-news-photo-1585580334.jpg?crop=0.605xw:1.00xh;0.120xw,0&resize=1200:*" alt="Edward Thomas Hardy" class="photo" />
  <h1>Edward Thomas<br />Hardy</h1>
  <div class="subtitle">15 de septiembre de 1977</div>
  <p>
    Tom Hardy es un actor inglés reconocido por su versatilidad y capacidad para interpretar personajes complejos. Comenzó su carrera en la década de 2000 y ganó notoriedad con Bronson (2008), interpretando a un criminal británico. En la década de 2010, alcanzó fama global con papeles en Inception (2010), The Dark Knight Rises (2012) como Bane, y Mad Max: Fury Road (2015) como Max Rockatansky. También destacó en Venom (2018) y Dunkirk (2017). Además, fue productor ejecutivo y protagonista de la serie Taboo (2017). Hardy es reconocido por su capacidad para transformar su físico y su talento en roles diversos.
  </p>
</div>

